html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

#chatPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    height: 5%;
    background-color: black;
    color: white;
}

#midBar {
    display: flex;
    align-items: center;
    position: relative;
    height: 90%;
}

#bottomBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 5%;
}

#message {
    width: 80%;
}

#messages {
    height: 100%;
    width: 100%;
    gap: 10px;
    overflow-y: scroll;
    margin: 10px;
}

.userMessage {
    color: gray;
    font-size: 12px;
    text-align: center;
    text-decoration: italic;
}

input {
    border: 2px solid black;
    border-radius: 3px;
}

#userList {
    display: flex;
    position: absolute;
    right: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 90%;
    width: 20%;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
    border: 2px solid black;
    background-color: white;
}

#closeUserList {
    position: absolute;
    top: 0;
    right: 0;
}