html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-height: 100vh;
}

#board {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgrey;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#board:empty {
    display: none;
}